$myColor: red;
$small: 400px;
$medium: 768px;
$large: 1180px;
$extraLarge: 1400px;
$formBackground: lightgrey;
$formBorder: darkgrey;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $small) {
    height: auto;
  }

  .WidgetContainer {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: url("/bg.jpg");
    background-position: center;
    background-size: cover;
  }
}

.BookmarkBar {
  box-shadow: 1px 0px 5px;
  display: flex;
  flex-flow: wrap;
  padding: 5px;

  .BookmarkItem {
    text-decoration: initial;
    margin: 2px 5px;
    display: flex;
    align-items: center;

    img {
      margin-right: 3px;
    }
  }
}

.newWidgetButtons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
}

.NewWidgetForm {
  position: absolute;
  background: $formBackground;
  z-index: 999999;
  right: 3px;
  padding: 3px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
}

.WidgetLayout {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  box-shadow: 1px 1px 2px gray;

  @media screen and (max-width: $small) {
    position: relative;
    transform: none !important;
    width: 100% !important;
  }
  
  .WidgetHeader {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    
    &:hover {
      background: rgba(255, 255, 255, 0.4);
    }

    .WidgetTitleBar {
      display: flex;
      width: 100%;

      span {
        width: 100%;
        cursor: context-menu;
      }
    }

    .WidgetMenu {
      position: relative;

      div.WidgetMenuList {
        display: flex;
      }

      ul.WidgetMenuList {
        position: absolute;
        top: 7px;
        background: $formBackground;
        right: 2px;
        padding: 2px;

        button {
          width: 100%;
          height: auto;
          padding: 2px;
          white-space: nowrap;
        }
      }
    }

    button.WidgetHeaderButton {
      width: 15px;
      height: 15px;
      padding: 0;
      font-size: 12px;
      margin: 2px;
      border: solid 1px $formBorder;
    }

    .WidgetMove {
      font-weight: bold;
    }
  }

  .WidgetComponent {
    width: 100%;
    height: 100%;
  }

  .WidgetResize {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=);
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
  }
}

.ColorPicker {
  width: 20px;
  height: 20px;
  border: 1px solid $formBorder;

  .ColorPickerForm {
    padding: 1px;
    position: absolute;
    top: 40;
    background: $formBackground;
  }
}

.StickyNote {
  textarea {
    border: none;
    overflow: auto;
    outline: none;
    background: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    width: 100%;
    height: 100%;
  }
}

.submit-buttons {
  margin-top: 5px;
  display: flex;
  justify-content: end;

  button {
    margin-right: 2px;
  }
}

.SuggestedLinks {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2px;

  .SuggestedLinksList {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;

    li {
      margin: 2px;
    }
  }

  .AddFolderButton {
    padding: 3px;
    text-align: center;

    button {
      padding: 0 20px;
      margin: 1px;
    }
  }

  .SuggestedLinksFolder {
    position: relative;

    .SLFolderTitle {
      display: flex;
      justify-content: space-between;
    }
  }

  .AddFolderForm {
    bottom: 25px;
    top: auto;
  }

  .AddLinkForm {
    position: absolute;
  }
}

.widget-form {
  width: 200px;
  color: black;
  position: absolute;
  top: 20px;
  right: 0;
  background: $formBackground;
  padding: 3px;
  display: flex;
  flex-direction: column;
  z-index: 99999;

  button {
    width: auto;
    height: auto;
    padding: 2px;
  }
}

button {
  cursor: pointer;
}

.global-form {
  position: fixed;
  left: auto;
  right: auto;
  width: 500px;
  background: $formBackground;
  border: 1px solid $formBorder;
  top: 50px;
  padding: 20px;
  z-index: 999999999999;

  header {
    display: flex;
    justify-content: space-between;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.borderless-btn {
  border: none;
  padding: 0 4px;
  font-weight: bold;
  background: none;
}